*{
    padding: 0px;
    margin: 0px;
}
ul{
    border: solid 1px;
    width: 330px;
    position: fixed;
    height: 100%;
    background-color: li;
}
#text1{
    color: blueviolet;
    font-size: 35px;
    font-weight: bold;
}
#text2{
    color: blueviolet;
    font-size: 33px;
    font-weight: bold;
}
ul li{
    border: solid 1px ghostwhite;
    height: 60px;
    width: 160px;
    margin-left: 70px;
    background-color: brown;
    text-align: center;
    list-hight: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
}
ul li a{
    color: gold;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}
ul li:hover{
    background-color: chocolate;
}
#home{
    border: solid 1px;
    height: 600px;
    background-color: ;
    padding-left: 340px;
}
#text3{
    color: chocolate;
    font-size: 50px;
}
#text4{
    color: chocolate;
    font-size: 50px;
}
#text5{
    font-size: 22px;
    
}
#bit1{
    height: 60px;
    width: 200px;
    background-color: blueviolet;
    border-radius: 20px;
    color: lightcyan;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;

}
#aboutme{
    border: solid 1px;
    height: 580px;
    background-color: lightsalmon;
    padding-left: 335px;
}
#aboutme{
    font-size: 50px;
    color: blueviolet;
}